 .root {
   display: flex;
 }

 /* latin-ext */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fjallaone/v8/Yq6R-LCAWCX3-6Ky7FAFrO96kigt.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fjallaone/v8/Yq6R-LCAWCX3-6Ky7FAFrOF6kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
h1{
  font-family: 'Fjalla One', sans-serif;
  font-size: 300% !important;
}
/* Navbar CSS */
.nav1{
  background: linear-gradient(to right, #205a58, #2b7a78, #3aafa9);
  color: #feffff;
}
.navitem{
  color: #feffff !important;
  text-decoration: none;
  font-size:large;
}
.navitem:hover{
  background-color: #2a3634;
}

.btn1{
  font-size: 14px !important;
  border-radius: 3px !important;
  border-color: #3b3c3d !important;
  padding: 0 30px !important;
}
.btn1:hover{
background: #0f1923 !important;
box-shadow: 3px 3px  5px #3f4c4e;
color: #feffff !important;
-webkit-transition: background-color 250ms ease-in;
-moz-transition: background-color 250ms ease-in;
-o-transition: background-color 250ms ease-in;
transition: background-color 250ms ease-in;
}
